body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.team_main {
  background-color: rgba(210, 180, 140, 0.1);
}

.team_main .Brand_Value .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/chef/team_1.jpg);
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed;
  overflow: hidden;
}

.team_main .Brand_Value .row #video {
  width: 60%;
  height: 100%;
}

.team_main .Brand_Value .row #video video {
  width: 100%;
  vertical-align: bottom;
}

.team_main .Brand_Value .row .content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 15px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.team_main .Brand_Value .row .content h5 {
  line-height: 2.5rem;
  padding-left: 25px;
  font-weight: 500;
  text-align: justify;
  text-justify: distribute;
  word-break: break-all;
  color: rgba(22, 22, 22, 0.8);
}

.team_main .Brand_Value .row .content h3 {
  border-left: 5px solid red;
  padding-left: 20px;
}

.team_main .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

.team_main .container .team_title {
  padding-top: 80px;
  text-align: center;
  background-image: url(../images/chef/team_title_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.team_main .container .team_title h4 {
  color: #eeeeee;
}

.team_main .container .team_title h2 {
  color: #eeeeee;
}

.team_main .container .team_title h2,
.team_main .container .team_title h4 {
  background-color: rgba(22, 22, 22, 0.6);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.team_main .container .team_word {
  margin-top: 50px;
  text-align: center;
}

.team_main .container .team_word h5 {
  font-weight: 500;
  color: rgba(22, 22, 22, 0.8);
}

.team_main .container:nth-child(3) {
  padding-top: 200px;
}

.team_main .Chef_introduction p {
  word-wrap: break-word;
  line-height: 1.8rem;
}

.team_main .Chef_introduction .Chef_introduction_container {
  margin-top: 50px;
  position: relative;
  overflow-x: hidden;
}

.team_main .Chef_introduction .Chef_introduction_container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  bottom: 0px;
  height: 85vh;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content {
  position: relative;
  top: 0;
  padding: 50px 25px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  text-justify: distribute;
  word-break: break-all;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_headerimg {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_headerimg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 3px 3px 15px 5px #2b1010c4;
          box-shadow: 3px 3px 15px 5px #2b1010c4;
  margin-left: 25px;
  max-height: 500px;
  overflow: auto;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word h4 {
  color: rgba(22, 22, 22, 0.8);
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word p:nth-child(2) {
  display: block;
  color: rgba(22, 22, 22, 0.8);
  padding: 0px 5px;
  text-align: justify;
  text-justify: distribute;
  word-break: break-all;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word p:nth-child(3) {
  display: block;
  color: rgba(22, 22, 22, 0.8);
  padding: 0 20px;
  font-weight: 500;
  line-height: 2rem;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word p:nth-child(4) {
  display: block;
  color: rgba(22, 22, 22, 0.8);
  padding: 0px 5px;
  margin-top: 30px;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word p:nth-child(6) {
  display: block;
  color: rgba(22, 22, 22, 0.8);
  padding: 0px 5px;
  margin-top: 20px;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word ul {
  padding-left: 25px;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word ul li {
  list-style: inside;
  color: rgba(22, 22, 22, 0.8);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word .chef_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word .chef_icon li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word .chef_icon li img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px 11px;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word .chef_icon li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word .chef_icon > img {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  z-index: 1;
  z-index: -1;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:last-child {
  border-right: none;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(1) {
  background-image: url(../images/chef/chef_01.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(1) .content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2))), url(../images/chef/chef_background01.jpg) center center no-repeat;
  background: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url(../images/chef/chef_background01.jpg) center center no-repeat;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(2) {
  background-image: url(../images/chef/chef_02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(2) .content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2))), url(../images/chef/chef_background02.jpg) center center no-repeat;
  background: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url(../images/chef/chef_background02.jpg) center center no-repeat;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(3) {
  background-image: url(../images/chef/chef_03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(3) .content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2))), url(../images/chef/chef_background03.jpg) center center no-repeat;
  background: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url(../images/chef/chef_background03.jpg) center center no-repeat;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(4) {
  background-image: url(../images/chef/chef_04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(4) .content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2))), url(../images/chef/chef_background04.jpg) center center no-repeat;
  background: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url(../images/chef/chef_background04.jpg) center center no-repeat;
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:hover {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  background-position: top;
  background-size: initial;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.team_main .Chef_introduction .Chef_introduction_container .row .slide:hover .content {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :lang(ja) .home .header .container .row .nav .nav_animation {
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  .goog-te-gadget-simple > span {
    top: -12px !important;
    left: -2px;
  }
  .team_main .Brand_Value .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team_main .Brand_Value .row #video {
    width: 100%;
  }
  .team_main .Brand_Value .row .content h5 {
    line-height: 3.5rem;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_headerimg {
    display: none;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word {
    max-height: 100%;
    margin: 0;
    padding: 15px;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide.-on {
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
    background-position: top;
    background-size: initial;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide.-on .content {
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  #google_translate_element {
    margin-right: 15px;
  }
  .goog-te-gadget-simple > span {
    top: -13px !important;
    left: -2px;
  }
  html {
    font-size: 14px;
  }
  .team_main .Brand_Value .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team_main .Brand_Value .row #video {
    width: 100%;
  }
  .team_main .Brand_Value .row .content h5 {
    line-height: 3.5rem;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-position: top !important;
    height: auto;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20 15px;
    background-size: cover !important;
    opacity: 1;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word {
    max-height: 100%;
    margin: 15px 0px 0px 0px;
    padding: 15px;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(1),
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(2),
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(3),
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(4) {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media only screen and (max-width: 576px) {
  #google_translate_element {
    margin-right: 15px;
  }
  .goog-te-gadget-simple > span {
    top: -13px !important;
    left: -2px;
  }
  html {
    font-size: 14px;
  }
  .team_main .container {
    padding: 0;
  }
  .team_main .container .team_word {
    margin-top: 25px;
    padding: 0 15px;
  }
  .team_main .container .team_word h5 {
    line-height: 2.5rem;
  }
  .team_main .container:nth-child(3) {
    padding-top: 80px;
  }
  .team_main .Brand_Value .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team_main .Brand_Value .row #video {
    width: 100%;
  }
  .team_main .Brand_Value .row .content h5 {
    line-height: 2.5rem;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-position: top !important;
    height: auto;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20 15px;
    background-size: cover !important;
    opacity: 1;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide .content .chef_word {
    max-height: 100%;
    margin: 15px 0px 0px 0px;
    padding: 15px;
  }
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(1),
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(2),
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(3),
  .team_main .Chef_introduction .Chef_introduction_container .row .slide:nth-child(4) {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}
/*# sourceMappingURL=team_style.css.map */